@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");
html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-size: inherit;
}

button,
[type=button],
.btn {
  color: inherit;
  background-color: transparent;
  outline: none;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

span {
  font-size: inherit;
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-px {
  padding-right: 10vw;
  padding-left: 10vw;
}

.content-py {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header,
.navbar,
.main,
.footer {
  padding-right: 10vw;
  padding-left: 10vw;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.opacity-0 {
  opacity: 0;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-75 {
  opacity: 0.75;
}

.opacity-100 {
  opacity: 1;
}

.p1 {
  padding: 0.25rem;
}

.pt-1 {
  padding: 0.25rem;
}

.pb-1 {
  padding: 0.25rem;
}

.pl-1 {
  padding: 0.25rem;
}

.pr-1 {
  padding: 0.25rem;
}

.p2 {
  padding: 0.5rem;
}

.pt-2 {
  padding: 0.5rem;
}

.pb-2 {
  padding: 0.5rem;
}

.pl-2 {
  padding: 0.5rem;
}

.pr-2 {
  padding: 0.5rem;
}

.p3 {
  padding: 1rem;
}

.pt-3 {
  padding: 1rem;
}

.pb-3 {
  padding: 1rem;
}

.pl-3 {
  padding: 1rem;
}

.pr-3 {
  padding: 1rem;
}

.p4 {
  padding: 1.5rem;
}

.pt-4 {
  padding: 1.5rem;
}

.pb-4 {
  padding: 1.5rem;
}

.pl-4 {
  padding: 1.5rem;
}

.pr-4 {
  padding: 1.5rem;
}

.p5 {
  padding: 3rem;
}

.pt-5 {
  padding: 3rem;
}

.pb-5 {
  padding: 3rem;
}

.pl-5 {
  padding: 3rem;
}

.pr-5 {
  padding: 3rem;
}

@media only screen and (min-width: 992px) {
  .navbar .aside-navbar header.header {
    display: none;
  }
  .navbar .open {
    display: none;
  }
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  .navbar-nav li:not(:last-child) {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 991.98px) {
  .navbar .aside-navbar {
    position: absolute;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    z-index: 2;
    transition: 0.2s;
    background-color: #FCFCFC;
  }
  .navbar .aside-navbar header.header {
    padding-top: calc(2rem + 25px);
    padding-bottom: 2rem;
  }
  .navbar .aside-navbar:not(.show) {
    left: -100vw;
    visibility: hidden;
  }
  .navbar .aside-navbar.show {
    left: 0;
    visibility: visible;
  }
  .navbar-nav {
    display: block;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
/*
nav.navbar
    div.navbar-logo
        vedategunduz
    aside.aside-navbar
        ul.navbar-nav
            li
                a
*/
.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-logo {
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
}

/* Dropdown z-index 2 olarak tanımlanmıştır. */
.dropdown {
  position: relative;
}
.dropdown-menu {
  border: 1px solid rgba(0, 0, 0, 0.15);
  z-index: 2;
  position: absolute;
  border-radius: 0.25rem;
  padding: 0.5rem 0;
}
.dropdown-menu .dropdown-item {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.25rem 1rem;
}
.dropdown-menu.show {
  display: block;
}
.dropdown-menu:not(.show) {
  display: none;
}
.dropdown.white .dropdown-menu {
  background-color: #FFFFFF;
}
.dropdown.white .dropdown-menu .dropdown-item:hover {
  background-color: #F1F1F1;
}

.accordion-item-header {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.accordion-item-content {
  overflow-y: hidden;
  transition: height 0.4s ease;
}/*# sourceMappingURL=style.css.map */