<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/style.css">
</head>

<body>

    <header class="header flex-center-between">
        <div class="dropdown white">
            <button id="language_btn" class="dropdown-toggle" data-target="language_dropdown">button_text</button>
            <div id="language_dropdown" class="dropdown-menu">
                <button class="dropdown-item" data-lang-value="tr">Türkçe</button>
                <button class="dropdown-item" data-lang-value="en">English</button>
                <button class="dropdown-item" data-lang-value="de">Deutsche</button>
            </div>
        </div>

        <button id="change_theme_btn">button_text</button>
    </header>

    <nav class="navbar flex-center-between content-py">
        <div class="navbar-logo">
            vedategunduz
        </div>
        <button class="open" data-target="asideNavbar" type="button">Open</button>
        <aside id="asideNavbar" class="aside-navbar">
            <header class="header navbar-header">
                <div class="navbar-logo">
                    vedategunduz
                </div>
                <button class="close" type="button" data-target="asideNavbar">Close</button>
            </header>
            <ul class="navbar-nav">
                <li><a href="">Page 1</a></li>
                <li><a href="">Page 2</a></li>
                <li><a href="">Page 3</a></li>
                <li><a href="">Page 4</a></li>
                <li><a href="">Page 5</a></li>
            </ul>
        </aside>
    </nav>

    <script type="module" src="../../../js/app.js"></script>
</body>

</html>