<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav Page</title>
    <link rel="stylesheet" href="../../../css/style.css">
</head>

<body>

    <header class="header flex-center-between">
        <div class="dropdown white">
            <button id="language_btn" class="dropdown-toggle" data-target="language_dropdown">button_text</button>
            <div id="language_dropdown" class="dropdown-menu">
                <button class="dropdown-item" data-lang-value="tr">Türkçe</button>
                <button class="dropdown-item" data-lang-value="en">English</button>
                <button class="dropdown-item" data-lang-value="de">Deutsche</button>
            </div>
        </div>

        <button id="change_theme_btn">button_text</button>
    </header>

    <nav class="navbar flex-center-between content-py">
        <div class="navbar-logo">
            vedategunduz
        </div>
        <button class="open display-desktop-none" data-target="asideNavbar" type="button">Open</button>
        <aside id="asideNavbar" class="aside-navbar">
            <header class="header navbar-header">
                <div class="navbar-logo">
                    vedategunduz
                </div>
                <button class="close" type="button" data-target="asideNavbar">Close</button>
            </header>
            <ul class="navbar-nav">
                <li><a href=""><span>Home</span></a></li>
                <li>
                    <button class="open" type="button" data-target="asideCars">
                        <div class="flex-center-between">
                            <span>Cars</span>
                            <div class="display-desktop-none"> > </div>
                        </div>
                    </button>
                </li>
                <li><a href=""><span>About</span></a></li>
                <li><a href=""><span>Contact</span></a></li>
                <li><a href=""><span>Sign Up</span></a></li>
            </ul>
        </aside>
    </nav>

    <nav class="navbar">
        <aside id="asideCars" class="aside-navbar desktop-menu">
            <header class="navbar-header">
                <div class="navbar-logo">
                    vedategunduz
                </div>
                <button class="close" type="button" data-target="asideCars">Close</button>
            </header>
            <section class="accordion">
                <div class="accordion-item">
                    <button type="button" class="accordion-item-button">McLaren</button>
                    <ul class="accordion-item-content">
                        <li><a href="#">ARTURA</a></li>
                        <li><a href="#">720S SPİDER</a></li>
                        <li><a href="#">P1</a></li>
                        <li><a href="#">SENNA</a></li>
                        <li><a href="#">ELVA</a></li>
                        <li><a href="#">SPEEDTAİL</a></li>
                        <li><a href="#">765LT</a></li>
                        <li><a href="#">GT</a></li>
                    </ul>
                </div>
                <div class="accordion-item">
                    <button type="button" class="accordion-item-button">Porsche</button>
                    <ul class="accordion-item-content">
                        <li><a href="#">Taycan</a></li>
                        <li><a href="#">918 Spyder</a></li>
                        <li><a href="#">Boxster</a></li>
                        <li><a href="#">Cayman</a></li>
                        <li><a href="#">911</a></li>
                        <li><a href="#">Panamera</a></li>
                        <li><a href="#">Cayenne</a></li>
                        <li><a href="#">911 GT3</a></li>
                    </ul>
                </div>
            </section>
        </aside>
    </nav>

    <script type="module" src="../../../js/app.js"></script>
</body>

</html>