.page-control-buttons {
    button {
        padding: .5rem 0;
    }
}

.navbar {
    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-logo {
        font-weight: bold;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    .desktop-menu {
        box-shadow: .25rem 0 1rem rgba(0, 0, 0, .4);
    }

    .accordion {
        padding-left: $content-main-padding-x;
        padding-right: $content-main-padding-x;
        height: calc(100vh - 140px);
        overflow-y: auto;

        &-item {
            &-button {
                width: 100%;
                padding: 1rem 0;
                text-align: left;
            }

            &-content {
                padding-left: 1rem;

                li a {
                    display: block;
                    padding: .5rem 0;
                }
            }
        }
    }
}

// Desktop
@media only screen and (min-width: 992px) {
    .navbar {
        .aside-navbar {
            header.header {
                display: none;
            }

            &.desktop-menu {
                position: absolute;
                top: 0;
                width: 40vw;
                min-height: 100vh;
                z-index: 2;
                transition: .2s;

                header.navbar-header {
                    padding: calc($content-main-padding-y + 41px) 2rem $content-main-padding-y 10vw;
                }

                &:not(.show) {
                    left: -40vw;
                    visibility: hidden;
                }

                &.show {
                    left: 0;
                    visibility: visible;
                }
            }
        }

        .display-desktop-none {
            display: none;
        }

        &-nav {
            display: flex;
            align-items: center;

            li {
                &:not(:last-child) {
                    margin-right: 2rem;
                }
            }


        }
    }

    html {
        &.light-mode {
            body .navbar {
                .aside-navbar.desktop {
                    background-color: $light-body;
                    color: $light-text-color;
                }
            }
        }

        &.dark-mode {
            body .navbar {
                .aside-navbar.desktop {
                    background-color: $dark-body;
                    color: $dark-text-color;
                }


            }
        }
    }
}

// Mobile
@media only screen and (max-width: 991.98px) {
    .navbar {
        .aside-navbar {
            position: absolute;
            top: 0;
            width: 100vw;
            min-height: 100vh;
            z-index: 2;
            transition: .2s;

            header.navbar-header {
                padding: calc($content-main-padding-y + 41px) 10vw $content-main-padding-y;
            }

            &:not(.show) {
                left: -100vw;
                visibility: hidden;
            }

            &.show {
                left: 0;
                visibility: visible;
            }
        }

        &-nav {
            padding-left: $content-main-padding-x;
            padding-right: $content-main-padding-x;

            li {

                a,
                button {
                    width: 100%;
                    display: block;
                    padding: 1rem 0;
                }
            }
        }
    }

    html {
        &.light-mode {
            body .navbar {
                .aside-navbar {
                    background-color: $light-body;
                    color: $light-text-color;
                }

                &-nav {
                    li {
                        &:not(:last-child) {
                            border-bottom: 1px solid rgba($color: $light-text-color, $alpha: .1);
                        }
                    }
                }
            }
        }

        &.dark-mode {
            body .navbar {
                .aside-navbar {
                    background-color: $dark-body;
                    color: $dark-text-color;
                }

                &-nav {
                    li {
                        &:not(:last-child) {
                            border-bottom: 1px solid rgba($color: $dark-text-color, $alpha: .1);
                        }
                    }
                }
            }
        }
    }
}

html {
    &.light-mode {
        body {
            color: $light-text-color;
            background-color: $light-body;

            header {
                background-color: $light-header-nav;
                color: $light-text-color;
            }

            nav {
                background-color: $light-header-nav;
                color: $light-text-color;
            }

            .navbar {
                .accordion {
                    &-item {
                        &-button {
                            border-bottom: 1px solid rgba($color: $light-text-color, $alpha: .1);
                        }

                        &-content li a {
                            border-bottom: 1px solid rgba($color: $light-text-color, $alpha: .1);
                        }
                    }
                }
            }
        }
    }

    &.dark-mode {
        body {
            color: $dark-text-color;
            background-color: $dark-body;

            header {
                background-color: $dark-header-nav;
                color: $dark-text-color;
            }

            nav {
                background-color: $dark-header-nav;
                color: $dark-text-color;
            }

            .navbar {
                .accordion {
                    &-item {
                        &-button {
                            border-bottom: 1px solid rgba($color: $dark-text-color, $alpha: .1);
                        }

                        &-content li a {
                            border-bottom: 1px solid rgba($color: $dark-text-color, $alpha: .1);
                        }
                    }
                }
            }
        }
    }
}