.navbar {
    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-logo {
        font-weight: bold;
        font-size: 2rem;
        text-transform: uppercase;
    }

    &-nav {
        display: flex;
        align-items: center;

        li {
            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }
}