html {
    font-size: $font-size;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

button,
[type=button],
.btn {
    color: inherit;
    background-color: transparent;
    outline: none;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
}

span {
    font-size: inherit;
}

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-px {
    padding-right: $content-main-padding-x;
    padding-left: $content-main-padding-x;
}

.content-py {
    padding-top: $content-main-padding-y;
    padding-bottom: $content-main-padding-y;
}

.header,
.navbar,
.main,
.footer {
    padding-right: $content-main-padding-x;
    padding-left: $content-main-padding-x;
}

.text-underline {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: inherit;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}