// Desktop
@media only screen and (min-width: 992px) {
    .navbar {

        .aside-navbar {
            header.header {
                display: none;
            }
        }

        .open {
            display: none;
        }

        &-nav {
            display: flex;
            align-items: center;

            li {
                &:not(:last-child) {
                    margin-right: 2rem;
                }
            }
        }
    }
}

// Mobile
@media only screen and (max-width: 991.98px) {
    .navbar {
        .aside-navbar {
            position: absolute;
            top: 0;
            width: 100vw;
            min-height: 100vh;
            z-index: 2;
            transition: .2s;
            background-color: #FCFCFC;

            header.header {
                padding-top: calc($content-main-padding-y + 25px);
                padding-bottom: calc($content-main-padding-y);
            }

            &:not(.show) {
                left: -100vw;
                visibility: hidden;
            }

            &.show {
                left: 0;
                visibility: visible;
            }
        }

        &-nav {
            display: block;
            padding-left: $content-main-padding-x;
            padding-right: $content-main-padding-x;
        }
    }
}

/*
nav.navbar
    div.navbar-logo
        vedategunduz
    aside.aside-navbar
        ul.navbar-nav
            li
                a
*/