// Light Theme
$light-body: #fff;
$light-text-color: #010101;
$light-header-nav: #ecf0f1;
$light-footer: #f39c12;
/*
$light-body: #ecf0f1;
$light-text-color: #010101;
$light-header-nav: #2c3e50;
$light-footer: #f39c12;
*/
// Dark Theme
$dark-body: #1a1a1a;
$dark-text-color: #bdc3c7;
$dark-header-nav: #121212;
$dark-footer: #2c3e50;