@for $i from 1 through 6 {
    h#{$i} {
        font-size: $head-size;
        margin-bottom: 1rem;
    }

    $head-size: $head-size - .25rem;
}

@each $position in $text-position {
    .text-#{$position} {
        text-align: $position;
    }
}

@each $key, $value in $opacity {
    .opacity-#{$key} {
        opacity: $value;
    }
}

@each $key, $value in $spacing {
    .p#{$key} {
        padding: $value;
    }

    .pt-#{$key} {
        padding-top: $value;
    }

    .pb-#{$key} {
        padding-bottom: $value;
    }

    .pl-#{$key} {
        padding-left: $value;
    }

    .pr-#{$key} {
        padding-right: $value;
    }

    .m#{$key} {
        margin: $value;
    }

    .mt-#{$key} {
        margin-top: $value;
    }

    .mb-#{$key} {
        margin-bottom: $value;
    }

    .ml-#{$key} {
        margin-left: $value;
    }

    .mr-#{$key} {
        margin-right: $value;
    }
}