// head
$head-size: 2.5rem;
// padding
// main padding
$content-main-padding-y: 2rem;
$content-main-padding-x: 10vw;



// text
$font-size: 16px;

// Metin pozisyonu seçenekleri
$text-position: (
    left,
    right,
    center,
    justify
);

// Saydamlık seviyeleri
$opacity: (
    0: 0,
    25: .25,
    50: .5,
    75: .75,
    100: 1
);
$spacing: (
    1: .25rem,
    2: .5rem,
    3: 1rem,
    4: 1.5rem,
    5: 3rem
);